.titlebar {
  height: 40px;
  background: var(--titlebar-background, #fff);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  font-family: 'Kanit', sans-serif;
}

.titlebarDecoration {
  padding: .5rem;
}

.titlebarButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  transition: background 250ms, color 250ms;
}
.titlebarButton:hover {
  background: #d6d6d6;
}

.titlebarButton.closeButton:hover {
  background: #f00b0b;
  color: #fff;
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-SemiBold.ttf");
  font-weight: 600;
}