.titlebar {
  height: 40px;
  background: rgb(var(--md-sys-color-background, (255, 255, 255)));
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.titlebarDecoration {
  font-family: 'Kanit', sans-serif;
  padding: .5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  user-select: none;
}

.titlebarButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  transition: background 250ms, color 250ms;
}
.titlebarButton:hover {
  background: #d6d6d675;
}

.titlebarButton.closeButton:hover {
  background: #f00b0b;
  color: #fff;
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-SemiBold.ttf");
  font-weight: 600;
}