.unsuccessfulFindingOfDogs {
    display: flex;
    width: 100%;
    height: calc(100% - 75px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.7)
}